*{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body.login{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    background-image: url("/src/bg/loginbg.jpeg");
    background-size: cover;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(209, 131, 206, 0.9);
    backdrop-filter: blur(10px);
}

.h1header{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.loginForm{
    background-color: rgba(27, 26, 27, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.5);
    width: 25%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
    margin: 0;
    padding: 0;
    min-height: fit-content;
    max-height: fit-content;
    backdrop-filter: blur(20px);
}

.formHeader{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.inputForm{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1rem;
    
}

.inputBlockUser{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.inputBlockPass{
    display:flex;
    flex-direction: column;
    font-size: 1rem;
}
.inputBlockButton{
    display:flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
}
.primaryButton{
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: azure;
    background-color: rgba(27, 26, 27, 0.9);
}
.primaryButton:hover{
    background-color: rgba(190, 190, 190, 0.9);
    color: black;
}

input[type="text"], input[type="password"]{
    border: 1px solid black;
    border-radius: 5px;
    height: 24px;
}

.inputBlockRegister{
    display:flexbox;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
}

.secondaryButton{
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: azure;
    background-color: rgba(27, 26, 27, 0);
}

.secondaryButton:hover{
    background-color: rgba(27, 26, 27, 0.3);
    color: azure;
}

.loginfooter{
    align-items: center;
    text-align: center;
    color: azure;
    display: flex;
    position: fixed;
    bottom: 0;
    align-self: center;
    padding: 10px;
    background-color: rgba(19, 17, 19, 0.9);
}

.inputBlockPassConf{
    display:flex;
    flex-direction: column;
    font-size: 1rem;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(63, 4, 73, 0.986);
    border: 1px solid black;
    border-radius: 20px;
    margin: 1em;
    width: 95%;
    box-shadow: 1px 1px 20px 20px rgba(0, 0, 0, 0.25);
    overflow:auto;
    height: 15%;
    color: azure;
}
.title{
    height: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 600;
    margin: 1em;
    align-items: center;
}

.logoimg{
    width: 100px;
    height: 100px;
    margin: 1em;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(0,0,0, 0.225);
    border-radius: 50px;
}
.user{
    border: 2px solid black;
    border-radius: 50px;
    background-color: rgb(94, 53, 133);
    margin: 1em;
    width: fit-content;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
}
.welcomeuser{
    font-weight: 600;
    margin: 0.5em;
    width: fit-content;
}
.appbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #210d25;
    width: 100%;
    height: 100%;
    color: azure;
    margin: 0;
    padding: 0;
    position: fixed;
    min-height: fit-content;
    max-height: 97%;
}

.appname{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1em;
    height: 50%;
    min-width: fit-content;

}
.searchtext{
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    min-width: fit-content;
}
.searchform{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    min-width: fit-content;
}
.searchbutton{
    height: 24px;
    width: 24px;
    max-width: 36px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 0px solid black;
    border-radius: 20px;
}
.searchwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: azure;
    height: 100%;
    min-width: fit-content;
    margin: 1em;
    box-shadow:  1px 10px 10px rgba(0, 0, 0, 0.2);
}

.searchwrapper input[type="text"]{
    border: 0px solid black;
    border-radius: 20px;
    outline: none;
    font-size: x-large;
    font-weight: 400;
    width: 95%;
}

.sidebarSonglistWrapper{
    display: flex;
    flex: content;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

main{
    min-width: fit-content;
    width: 95%;
    overflow: hidden;
    height: 70%;
}

.sidebar{
    min-width: 25%;
    width: 25%;
    background-color: rgb(168, 63, 168);
    overflow: auto;
    max-height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 40%;
}
.songlistwrapper{
    min-width: fit-content;
    width: 75%;
    text-align: center;
    background-color: rgb(168, 63, 168);
    overflow: auto;
    max-height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

.sidebarwrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    height: fit-content;
    bottom: 0;
    z-index: 1;
    min-width: fit-content;
    background-color: rgb(90, 61, 87);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.5em;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
}
.volumecontrol{
    margin: 1em;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 120px;
}
input[type="range"]{
    width: 100%;
    height: 24px;
    border-radius: 5px;
    background-color: rgb(168, 63, 168);
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}
.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: rgb(168, 63, 168);
    cursor: pointer;
}
.songcoverwrapperplaybar{
    display: flex;
    flex:content;
    margin:1em;
    height: 50px;
    width: 50px;
    align-items: center;
    z-index: 10;
    
}

.favorites{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin: 1rem;
    height: fit-content;
    overflow: auto;
    bottom: 0;
    z-index: 1;
    min-width: fit-content;
    background-color: rgba(51, 37, 50, 0.8);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 95%;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
}
.favorites button{
    border-radius: 5px;
    width: 100%;
    padding: 1em;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: azure;
    background-color: rgba(51, 37, 50, 0.9);
    border: 1px solid black;
}
.spacebetweensideandlist{
    min-width: 3%;
    max-height: 1px;
}
.songcoverplaybar{
    height: 70px;
    width: 70px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.055);
    background-color: rgba(0,0,0, 0.225);
    border-radius: 50px;
}
.contentheader{
    text-align:left;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.3em;
    border: 1px solid black;
    border-radius: 10px;
    width: auto;
    min-height: fit-content;
    max-height: 100px;
    position: static;
    z-index: 1;
    background-color: rgba(51, 37, 50, 0.8);
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
}
.contentheader h2{
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.5rem;
    font-weight: 600;
    color: azure;
}
.playerfooter{
    width: 100%;
    height: 10%;
    background-color: rgb(168, 63, 168);
    position: fixed;
    bottom: 0;
    z-index: 1;
    border: 1px solid black;
    overflow: hidden;
}

.player{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 1;

}

.playercontent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 1;
}
.playerinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    bottom: 0;
    z-index: 1;
}
.playercontrols{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    bottom: 0;
    z-index: 10;
    min-width: fit-content;
}

.playerbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 1;
    min-width: fit-content;
}

.playerbuttons button{
    border-radius: 40px;
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: azure;
    background-color: rgb(168, 63, 168);
    margin: 0.5em;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
}

.playerbuttons button img{
    height: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    width: 30px;
    filter: invert(90%);
}
.playlistbutton{
    align-items: center;
    display: flex;
    flex-direction: row;
    color: azure;
    margin: 0.5em;
    width: 100%;

}
.playlists{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin: 1rem;
    height: fit-content;
    overflow: auto;
    bottom: 0;
    z-index: 1;
    background-color: rgba(51, 37, 50, 0.8);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 95%;
    max-width: 95%;
}
.playlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(53, 43, 52);
    cursor: pointer;
    z-index: 2;
    height: fit-content;
}

.playlists h3{
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: azure;
} 

.playerbuttons button:hover{
    background-color: rgb(53, 43, 52);
    color: azure;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    background: #555;
    margin: 0.5em;
}
.song{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.6em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(53, 43, 52);
    z-index: 2;
    min-width: fit-content;
    height: 4em;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
}
.songwrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(53, 43, 52);
    z-index: 2;
    min-width: fit-content;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
}
.songbutton{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    border: transparent;
    z-index: 2;
    min-width: fit-content;
    color: azure;
}
.songbuttonimg{
    filter:invert(90%);
}
.songbutton:hover{
    cursor: pointer;
}
.songbutton:hover{
    background-color: rgb(32, 27, 32);
}

.song img{
    height: 15px;
    margin: auto;
    display: flex;
    align-items: center;
    width: 15px;
    background-color: transparent;
}
.song button{
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: azure;
    background-color: rgb(53, 43, 52);
}
.songbuttons{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 30%;
    height: 100%;
    z-index: 1;
    min-width: fit-content;
}
.song .songinfo{
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin:0;
    padding: 0;
    width: 100%;
    min-width: fit-content;
    z-index: 1;
    min-width: fit-content;
}

.song .songinfo {
    margin: 1;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
    color: azure;
    justify-content: left;
    align-items: start;
}
.playerprogress{
    width: 80%;
}

.song .songinfo h3{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
    color: azure;
    align-items: left;
}
.progressbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.artist{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(192, 192, 192);
    align-items: left;
    border: 0px solid black;
    display:inherit;
    z-index: 5;
}
.artist:hover{
    color: blueviolet;
    cursor: pointer;
}
.songcoverwrapper{
    margin:1em;
    height: 50px;
    width: 50px;
}
.songcover{
    min-width: 50px;
    min-height: 50px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.055);
    background-color: rgba(0,0,0, 0.225);
    border-radius: 50px;
}

.songinfoplaybar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 1;
}
.songandartistplaybar{
    min-width: fit-content;
    width: 40%;
    margin: 1em;
}
.playlist_title{
    overflow: hidden;
    width: 100% !important;

}
.songtitleplaybar{
    margin: 0;
    padding: 0;
}
.artistplaybar{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: rgb(192, 192, 192);
}
.artistplaybar:hover{
    color: rgb(0, 162, 255);
    cursor: pointer;
}
.volumecontrol img{
    height: 24px;
    margin: 1em;
    align-items: center;
    width: 24px;
    filter: invert(90%);
}

.playlist_delete{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    height: 100%;
    z-index: -1;
    min-width: fit-content;
}

.playlist_delete img{
    height: 24px;
    align-items: end;
    width: 24px;
    filter: invert(90%);
}

.createplaylistwrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 4em;
    z-index: 1;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}
.createplaylist{
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 1px solid black;
    border-radius: 10px;
}
.createplaylist input[type="text"]{
    background-color: rgb(53, 43, 52);
    color : rgba(240, 255, 255, 0.9);
    font-size: 1.5rem;
    font-weight:600;
    border: none;
    margin: auto;
    padding: 1rem;
    max-width: 80%;
}

.createplaylist button{
    border-radius: 10px;
    background-color: rgb(53, 43, 52);
    border: none;
    color : rgba(240, 255, 255, 0.9);
    height: 95%;
    width: 20%;
    margin: auto;
    padding: 0;
}
.createplaylist button:hover{
    background-color: rgb(32, 27, 32);
    color: azure;
    cursor: pointer;
}
.createplaylistwrapper nobr{
    width : 100%;
    height: 100%;
}